@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.bg-main{
    background: #002F34;
}

.bg-sec{
    background: #F2F4F5;
}

.color-main{
    color: #002F34;
}